.container {
    margin-top: 30vh;
}

.btn {
    background: #FD5C3A;
    border-radius: 50px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
    width: 150px;
    border: none;
}

.homepage-logo {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.13em;
    padding-bottom: 10px;
    color: white;
    -webkit-text-fill-color: #ffffff00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.searchbar {
    padding: 10px;
    border-radius: 8px;
    width: 315px;
}

.background-container {
    // background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1567533708067-239a2371890b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.moving-input {
    color: white
}

#video-overlay {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

// #mainVideo {}

