<div class="mobile-forehead">
  <div class="profile-background">
    <%= image_tag 'Vector.png' %>
  </div>
  <div class="container-profile">
    <div class="profile-picture">
      <img src="<%= current_user.photo %>" alt="avatar", width="100px" class="profile-img" style="float:right">
    </div>
    <div class="profile-name">
      <h2><%= current_user.username %></h2>
    </div>
    <div class="individual-review">
      <ul>
        <% @reviews.each do |review| %>
          <li>👍 <%= review.content %> DATE</li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="sparkle" class="crown-rank">
    <img src="https://image.flaticon.com/icons/svg/1071/1071623.svg" style="
      width: 60px;">
  </div>
  <div class="name-ranking">
    <h3 style="font-weight: bold; font-size: 20px;">Superstar Craver!</h3>  
  </div>
  <div class="follow-container d-flex justify-content-around align-items-center" style="margin: 45px; margin-top: 32px;">
    <div class="profile-followers">
      <h4 style="margin-bottom: 0px; font-weight: bold;">700</h4>
      <p style="font-size: small; color: #6c757d;">followers</p>
    </div>
    <p class="follow-button" style="color: #FD5C3A; border-width: thin; font-weight: bold; margin-bottom: 8px;">Follow</p>
    <div class="profile-following">
      <h4 style="margin-bottom: 0px; font-weight: bold;">1.2k</h4>
      <p style="font-size: small; color: #6c757d;">following</p>
    </div>
  </div>
</div>

<div class="review-container">
  <div class="vote-container">
    <div class="num_box">
      <h1>300</h1>
      <p> votes </p>
    </div>
  </div>
  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>52</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2017/7/18/0/DV2703H_Threes-Bar-and-Grill-Ramen_s4x3.jpg.rend.hgtvcom.826.620.suffix/1500414127150.jpeg" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>Chashu Pork Ramen</h3>
        <p>2019-12-02</p>
      </div>

      <div class="review-body">
          <p>"Amazing ramen, tasty broth, the pork version is super tender and juicy."</p>
      </div>
    </div>    
  </div>

 <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>49</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/92/e7/c8/dolsot-bibimbap-jeyuk.jpg" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>Bibimbap</h3>
        <p>2019-11-29</p>
      </div>

      <div class="review-body">
          <p>"Best Jeyuk bibimbap lunch spot!, must try with goujijang spicy sauce!"</p>
      </div>
    </div>    
  </div>
  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>42</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://images-na.ssl-images-amazon.com/images/I/81RzDjgi8TL._SX385_PIbundle-6,TopRight,0,0_SX385SY458SH20_.jpg" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>Shin Ramen</h3>
        <p>2019-11-27</p>
      </div>

      <div class="review-body">
          <p>"Totally worth every penny!, add hot water and voila! , Must try!, No REGRETS!!"</p>
      </div>
    </div>    
  </div>

  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>35</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://www.mtlblog.com/uploads/88407_245af8251f3cdfc583703319ced0f68f1ed25cdb.jpg_facebook.jpg" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>Smoke Meat Shwartz</h3>
        <p>2019-12-04</p>
      </div>

      <div class="review-body">
          <p>"Best Smoke meat in town, order the fatty version, you will not be dissapointed"</p>
      </div>
    </div>    
  </div>

  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>23</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/W8U82l0WQbzNebuJnxmDaQ/348s.jpg" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>bibiko</h3>
        <p>2019-12-06</p>
      </div>

      <div class="review-body">
          <p>"This place is trash, food is trash, everything about this place is trash! dont eat trash! THEY DONT ACCEPT CASH!"</p>
      </div>
    </div>    
  </div>

</div>

