<div class="footbar">
  <%= link_to '<i class="fas fa-utensils fa-lg"></i>'.html_safe, dishes_path(category: "Japanese"), class: "footbar_button active"  %>
  <%= link_to '<i class="fas fa-search fa-lg"></i>'.html_safe, root_path, class: "footbar_button"  %>
  <%= link_to '<i class="far fa-heart fa-lg"></i>'.html_safe, "", class: "footbar_button"  %>
  <%= link_to '<i class="far fa-user fa-lg"></i>'.html_safe, user_path(current_user), class: "footbar_button"  %>
</div>




