

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag "", html: { id: "index_form"}, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What are you craving?"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>




<!--

<h1>CRAVINGS</h1>
<p>What are you Craving</p>
<p>INPUT</p>

<%= link_to "Ramen Show Test Page", dish_path(1) %>
 -->
