<body class="background-container">
  <div class="container">
    <div class="title d-flex justify-content-center">
      <h1>Cravings</h1>
      <svg width="24" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="6" r="6" fill="#FFFDFD"/>
        <circle cx="6" cy="6" r="4" fill="#FD5C3A"/>
      </svg>

    </div>
    <div class="searchbutton d-flex justify-content-center">
      <input class="searchbar" type="text" name="search" id="banner-typed-text">
    </div>
    <div class="button-go d-flex justify-content-center">
      <input class="btn btn-primary" type="Submit" value="Let's Go!">
    </div>
    <div class="moving-input">
      <p><span id="banner-typed-text"></span></p>
    </div>
    <!-- <%= link_to "Lets GOOOOOOO", dish_path(1) %> -->
  </div>
  
</body>
