///////////////////////////////////
// Discount Button
.qrcode {
  display: flex;
  justify-content: center;
  padding: 40px 30px;
  svg {
    height: 180px;
    width: 180px;
  }
}
.coupon-popup {
  position: relative;
  display: flex;
  height: 130px;
  width: 255px;
  position: fixed;
  background-color: #FD5C3A;
  z-index: 3;
  right: 0px;
  bottom: 71px;
  border-radius: 3px;
  opacity: 0.9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

}
@keyframes slideLeft {
  0%, 100% {
    transform: translate3d(100%,0,0);
  }

  10%, 90% {
    transform: translate3d(-2rem,0,0);
  }
}

.coupon-popup {
  transform: translate3d(100%,0,0);
  animation: slideLeft 15s 2s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.hooray-gif {
  width: 79px;
  height: 84px;
  margin: 20px;
}

#redeem {
  text-align: left;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.hooray-text {
  color: white;
}

#hooray-notification {
  text-align: left;
  padding-left: 15px;
  margin-bottom: 0px;
}

#hooray {
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 24px;
  text-align: left;
}
 .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1 {
  z-index: 3;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 40%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  border-top: 4px solid orange;
  padding-top: 33px;
  p {
    text-align: center;
  }
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.btn-secondary {
  background-color: $main-orange;
  color: white;
  width: 81px!important;
  border-radius: 8px!important;

}

.btn-secondary:hover {
  background-color: $main-orange;
  color: white;
  opacity: 0.8;
  width: 81px!important;
  border-radius: 8px!important;
}

.coupon-container {
  display: relative;
}


.coupon-button {
  display: absolute;
}
// first layer have Beige color
.head-container {
  // display:absolute;
  width: 100%;
  background-color: $main-beige;
  // position: absolute;
  // top: -68px;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  margin-top: -23px;

  // make food image circle
  .food_photo {
    display: inline-block;
    margin: -24px auto;
    width: 273px;
    height: 273px;
    border-radius: 50%;
    background: transparent;
  }

  // make restaurant image circle
  .restaurant_photo {
  display: block;
  margin: -24px auto;
  width: 273px;
  height: 273px;
  // left: 36px;
  // top: -24px;
  border-radius: 50%;
  background: transparent;
  }
}

///////////////////////////////////
// Title, heart, subtitle, underline
.text_area {
  width: 100%;
  margin: 24px auto 6px;
  padding: 18px 0 0;
  text-decoration: none;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -4px;
  }
  a {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
  span {
    padding-bottom: 1px;
    border-bottom: 1px solid $main-orange;
    line-height: 48px;
    a {
      color: $main-grey;
      text-decoration: none;
    }
  }
}

///////////////////////////////////
// Vote box, up and down button
.vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 8;
  text-align: center;
  top: -25px;
  margin-bottom: -25px;
}
.dish-vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 8;
  text-align: center;
  top: -38px;
  margin-bottom: -24px;
}

.vote-button {
  width: 43px;
  height: 43px;
  border: 1px solid $main-orange;
  background-color: #F9F5F2;
  border-radius: 50%;
  margin: 16px;
  padding: 8px;
  &.down {
    padding: 10px; // it's not working need to fix
  }
  i {
    color: $main-grey;
  }
}


.vote-button:hover {
  background-color: $main-orange;
  i {
    color: #F9F5F2;
  }
}

.num_box {
  width: 123px;
  height: 55px;
  background-color: $main-orange;
  justify-content: center;
  border-radius: 8px;
  h1 {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    margin: 4px;
  }
  p {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
}
//////////////////////////////

#current-address {
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin-top: 22px;
  margin-left: 22px;
}


.index-review-container {
  width: 100%;
  background-color: white;
  border-radius: 24px 24px 0px 0px;
  border-color: red;
  // display: absolute;
  position: relative;
  top: -28px;
  padding: 38px 0;
  z-index: 2;
  margin-top: 50px;
  .avatar {
    width: 53px;
    height: 53px;
  }
}

////////////////////////////////
.review-container {
  width: 100%;
  background-color: white;
  border-radius: 24px 24px 0px 0px;
  border-color: red;
  // display: absolute;
  position: relative;
  // top: -86px;
  // padding: 38px 0;
  z-index: 2;
  margin-top: 50px;
  .avatar {
    width: 53px;
    height: 53px;
  }
}

.review-card {
  width: 85%;
  display: flex;
  margin: auto;
  padding: 16px 0px 0px 3px;
  border-bottom: 1px solid $main-orange;
  .review-photo {
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }
  p {
    font-style: normal;
    font-size: 12px;
    color: $main-grey;
  }
}

.review-vote-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main-orange;
  font-weight: bold;
  font-size: 12px;
  margin-right: 6%;
  i {
    color: $main-grey;
  }
  span {
    font-size: 14px;
  }
}

.review-button:hover {
  i {
    color: $main-orange;
  }
}

.review-text-area {
  margin-left: 6%;
  text-align: left;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.review-body {
  display: relative;
  #more {
    display: none;
  }
  .myBtn {
    width: 100%;
    bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    color: $main-grey;
    text-align: right;
    padding-right: 4px;

  }
}

.index-h3 {
  font-size: 16px;
  margin: 20px;
}

h6 {
  color: white;
  font-size: 12px;
  opacity: 0.8;
}


.category-button {
  color: #868686;
  text-transform: none;

.txt_cat {
  color: #868686;
  opacity: 0.8;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  padding: 27px;
  }

