
.show_container {


}

.text_area {
  border: red;
  display: flex;

  margin: auto;
  text-align: center;
}


.num_box {
  width: 123px;
  height: 55px;
  background-color: #FD5C3A;
  justify-content: center;
}
