.footbar {
  display: flex;
  background-color: $main-beige;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  border-top: 1px solid $main-orange;
  i {
    padding: 0 20px;
  }
}


/* Style the links inside the navigation bar */
.footbar_button {
  float: left;
  display: block;
  color: $main-grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active, .footbar_button:hover {
  background-color: $main-orange;
  color: $main-beige;
}


